/*
	Main stylesheet: contains CSS normalization, base styles, typography with a vertical rhythm and some mobile-first media queries

	Credit is left where credit is due
	Much content and inspiration was taken from the normalize.css project: http://necolas.github.com/normalize.css/ and https://github.com/jonathantneal/normalize.css
*/

/* `HTML5 elements display-role
---------------------------------------- */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog {
	display: block;
}

/* `Base structure
---------------------------------------- */
html {
	height: 100%;
	font-size: 100%;
	overflow-y: scroll; /* Force a scrollbar in non-IE */
	-webkit-text-size-adjust: 100%; /* Remove iOS text size adjust without disabling user zoom */
}
body {
	margin: 0;
	min-height: 100%;
}
/* Font settings */
body, button, input, select, textarea {
	font: 16px/1.625 Georgia, serif;
	*font-size: 1em; /* IE7 and older: IE can't resize px based text and most mobiles don't default the text to 16px */
	color: #333; /* Black on white is too much contrast, #222 is a lot better */
}
p, blockquote, q, pre, address, hr, code, samp, dl, ol, ul, form, table, fieldset, menu, h4, h5, h6, img {
	margin: 0 0 1.625em;
}

/* `Headings and small
---------------------------------------- */
/* Font sizes are based on the golden ratio of 16. See this for the modular scale: http://ow.ly/5jGl6. Line-heights and margins are adjusted to keep a 26px (1.625em) vertical rhythm across all elements */
h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	font-weight: normal;
}
h1 {
	font-size: 4.25em; /* 68px */
	line-height: 1.1471em;
	margin: 0 0 0.3824em;
}
h2 {
	font-size: 2.625em; /* 42px */
	line-height: 1.2381em;
	margin: 0 0 0.619em;
}
h3 {
	font-size: 1.625em; /* 26px */
	line-height: 1em;
	margin: 0 0 1em;
}
small {
	font-size: 0.625em; /* 10px */
	margin: 0 0 2.6em;
}

/* `Code
---------------------------------------- */
/* Allows line wrapping of 'pre' */
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
pre, code, kbd, samp {
	font: 1em/1.625em Menlo, Consolas, 'DejaVu Sans Mono', Monaco, monospace;
}

/* `Tables
---------------------------------------- */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th {
	text-align: left;
}
tr, th, td {
	padding-right: 1.625em;
	border-bottom: 1px solid #333;
}

/* `Forms
---------------------------------------- */
form {
	margin: 0;
}
fieldset {
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
legend {
	*margin-left: -7px;
}

button, input, select, textarea {
	vertical-align: baseline;
	*vertical-align: middle; /* IE7 and older */
}
button, input {
	line-height: normal;
	*overflow: visible;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* `Quotes
---------------------------------------- */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
blockquote, q, cite {
	font-style: italic;
}
blockquote {
	padding-left: 1.625em;
	border-left: 3px solid #ccc;
}
blockquote > p {
	padding: 0;
}

/* `Lists
---------------------------------------- */
ul, ol {
	list-style-position: inside;
	padding: 0;
}
li ul, li ol {
	margin: 0 1.625em;
}
dl dd {
	margin-left: 1.625em;
}

/* `Hyperlinks
---------------------------------------- */
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:focus {
	outline: thin dotted;
}
/* Better CSS outline suppression: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
	outline: none;
}

/* `Visual media
---------------------------------------- */
figure {
	margin: 0;
}
img, object, embed, video {
	max-width: 100%; /* Consider this first: http://unstoppablerobotninja.com/entry/fluid-images/ */
	width: 100%;
	/* *width: width_of_the_imagepx; /* Do this if the image is larger than the container. Since IE doesn't support max-width, it'll get the absolute width. Nice, huh? */
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic; /* Improve IE's resizing of images: http://css-tricks.com/ie-fix-bicubic-scaling-for-images */
}

/* `Abbreviations
---------------------------------------- */
abbr[title], dfn[title] {
	border-bottom: 1px dotted #333;
	cursor: help;
}

/* `Marked/inserted and deleted text
---------------------------------------- */
ins, mark {
	text-decoration: none;
}
mark {
	background: #ff0;
}
ins {
	background: #ff9;
}
del {
	text-decoration: line-through;
}

/* `Others
---------------------------------------- */
strong, b, dt {
	font-weight: bold;
}
dfn {
	font-style: italic;
}
var, address {
	font-style: normal;
}
/* Position 'sub' and 'sup' without affecting line-height: gist.github.com/413930 */
sub, sup {
	font-size: 0.625em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}

/* `Default (mobile) styles
---------------------------------------- */
/* Centering pages without a wrapper: http://www.camendesign.com/code/developpeurs_sans_frontieres */
/* The body will work like a 'div#wrapper': add the background of the page to the 'html' tag and the background of the wrapper to the 'body' tag */
html {
	background: #ffefd5;
}
body {
	width: 92%;
	margin: 0 auto;
	background: #ffefd5;
}

/* `Project-specific
---------------------------------------- */
#demo p, #main-header h1 {
	text-align: center;
}
#demo p, #intro p {
	font-size: 1.625em; /* 26px */
	line-height: 1em;
	margin: 0 0 1em;
}
#demo p:active, #demo p:focus {
	position: relative;
	top: 3px;
	background-color: #555;
}
#demo p, pre {
	padding: 26px;
	color: white;
	background-color: #333;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	-moz-box-shadow: inset 1px 1px 50px black;
	-khtml-box-shadow: inset 1px 1px 50px black;
	box-shadow: inset 1px 1px 50px black;
}
#main-header {
	margin-top: 1.625em;
}
nav ul {
	display: none;
	list-style: none;
	text-align: left;
}
nav a, #demo a {
	color: #BA0000;
}
nav a:hover, #demo a:hover {
	text-decoration: none;
	color: maroon;
}
::-moz-selection {
	background: #B4D455; /* 1M THE B4D455 13373R */
	color: white;
}
::selection {
	background: #B4D455;
	color: white;
}

/* `Wide mobile devices styles
---------------------------------------- */
@media only screen and (min-width: 480px) {
	body {
		width: 70%;
	}
	#fork a {
		background: url('https://d3nwyuy0nl342s.cloudfront.net/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67');
		text-indent: -9999px;
		position: fixed;
		_position: absolute; /* IE6 only */
		height: 149px;
		width: 149px;
		top: 0;
		right: 0;
		color: red;
	} 
}

/* `Tablets/netbooks styles
---------------------------------------- */
@media only screen and (min-width: 768px) { 
	body {
		width: 50%;
	}
	#main-header ul {
		display: block;
		position: fixed;
		_position: absolute; /* IE6 only: IE6 doesn't support "position: fixed", so we define "position: absolute" as a fallback */
		left: 30px;
		top: 200px;
		border-top: 1px solid #BA0000;
	}
	#main-header li {
		border-bottom: 1px solid #BA0000;
	}
	nav a:hover {
		border: none;
	}
	#demo p {
		width: 40%;
	}
}

/* Desktop devices styles
---------------------------------------- */
@media only screen and (min-width: 1024px) { 
	body {
		width: 50%;
		max-width: 530px;
		*width: 530px;
	}
	nav {
		font-size: 1.625em;
	}
}

/* Print styles
---------------------------------------- */
@media print {
	* {
		background: transparent !important;
		color: black !important; /* The woes of CSS color in print typography: sanbeiji.com/archives/953 */
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}
	a, a:visited {
		color: #333 !important;
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	/* Do not show javascript and internal links */
	a[href^="javascript:"]:after, a[href^="#"]:after {
		content: ""; 
	}
	/* Printing Tables: css-discuss.incutio.com/wiki/Printing_Tables */
	thead {
		display: table-header-group;
	}
	tr, img {
		page-break-inside: avoid;
	}
	@page {
		margin: 0.5cm;
	}
	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}
	h2, h3{
		page-break-after: avoid;
	}
}